@import './foundations/all';

.kl_about {
    display: grid;
    justify-items: center;
    padding: 100px 200px;
    color: $body-text-color;
    font-family: $kp-body-font-family;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    .kl_about__image {
        box-shadow: -10px -10px 16px 0 rgba(104, 103, 103, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19), 10px 10px 16px 0 rgba(104, 103, 103, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

    h1 {
        margin: 10px 0px;
        font-size: 50px;
        font-weight: $kp-h1-font-weight;
    }

    h2 {
        font-size: 28px;
        margin: 10px 0px;
        font-weight: $kp-h4-font-weight;
    }

    .kl_about__description {
        font-size: 18px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 0.38px;
        text-align: center;
    }
}