@import './foundations/all';

.mobile_icon {
    width: 24px;

    .mobile_icon__top--line,
    .mobile_icon__middle--line,
    .mobile_icon__bottom--line {
        display: block;
        height: 2px;
        background: rgba(0, 0, 0, 0.322);
        margin: 5px 0px;
        transition: width 0.3s ease;
    }

    .mobile_icon__middle--line {
        width: 80%;
    }

    .mobile_icon__top--line {
        width: 40%;
    }

    .mobile_icon__bottom--line {
        width: 60%;
    }

    &:hover {
        .mobile_icon__top--line {
            width: 100%;
        }

        .mobile_icon__middle--line {
            width: 50%;
        }

        .mobile_icon__bottom--line {
            width: 80%;
        }
    }
}

.kl_menu {
    .kl_menu__nav {
        display: flex;
        gap: 1rem;
        padding: 0px;
        margin: 0px;
        align-items: center;
        list-style: none;


        .kl_menu__nav__item {
            a {
                color: $text-link-color;
                text-decoration: none;
                cursor: pointer;

                @include tablet {
                    font-size: $fs-sm;
                }

                @include laptop {
                    font-size: $fs-md;
                }

                @include desktop {
                    font-size: $fs-xl;
                }

                &:hover {
                    color: $text-link-color-hover;
                }
            }

        }
    }

    .kl_menu__button {
        display: block;
        float: right;
        border: 1px solid $border-color;
        box-shadow: 0px 0px 5px 0px $border-color;
        background: $body-color;
        border-radius: 5px;
        cursor: pointer;
    }

    .kl_menu__nav {
        display: none;
    }

    .kl_menu__mobile_nav {
        visibility: hidden;
        position: fixed;
        opacity: 0;
        list-style: none;
        transition: opacity 1s ease-in-out;
        padding: 0px;
        &.open {
            visibility: visible;
            top: 60px;
            left: 0;
            width: 100%;
            height: auto;
            opacity: 1;
            transition: opacity 1s ease-in-out;
            background-color: $body-color;
            overflow-y: auto;
        }

        .kl_menu__nav__item {
            border-bottom: 1px solid $border-color;
            padding: 10px 10px;
            a {
                color: $text-link-color;
                text-decoration: none;
            }
        }
    }



    @include tablet {
        .kl_menu__button {
            display: none
        }

        .kl_menu__nav {
            display: flex;
        }
    }

    @include laptop {
        .kl_menu__nav {
            gap: 2rem;
        }
    }

    @include desktop {
        .kl_menu__nav {
            gap: 3rem;
        }
    }
}