@import './foundations/all';

.kl_menu {
    .kl_menu__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        list-style: none;
        .kl_menu__nav__item {
            background: #24272C;
            padding: 5px 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    
    .kl_menu__button {
        display: none;
    }

    .kl_menu__mobile_wrapper  {
        display: none;
    }

    @include tablet {
        
        .kl_menu__button {
            display: block;
        }

        .kl_menu__mobile_wrapper  {
            display: block;
        }
    }
}